name: Go Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: go
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21.x'
      - run: go version
      - run: go vet ./...
      - run: go test ./...
      - name: Build
        run: go build ./...
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            go/**

